<!DOCTYPE html>
<html>
<head>
	<! -- Bootstrap -- >
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">


	<! -- Javascript -- >
	<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script> 


	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>
		Videos
	</title>
</head>
<body>
	{% include "nav.html" %}
	<form>
		<input class="form-control mr-2" id="search_line" type="search" placeholder="Search" aria-label="Search">
    	<button class="btn btn-outline-success" id = "search_button" type="submit">Search</button>
	</form>

	<script type="text/javascript">
	$("#search_button").click(function (e) {
  e.preventDefault();
  var value_url = $("#search_line").val();
  $("#search_line").val("");
  var url = new URL(value_url);
  for (let [name, value] of url.searchParams) {
    if (name == "v") 
    	{
    		url = new URL(document.URL);
    		url = url.origin;
    		var data = `${url}/videos/${value}`;
    		window.location.href = data;
    	}
  }
});  </script>

	<div>
		<p>Video</p>
	</div>
	{% for stream in video_streams %}
		<a href="{{ url_for_transition }}/{{ stream.itag }}">
			<p>
				{{ stream.title }}
				<br>
				resolution={{ stream.resolution }}
				type={{ stream.mime_type }}
			</p>
		</a>
		<br>
	{% endfor %}
	<div>
		<p>Audio</p>
	</div>
	{% for stream in audio_streams %}
		<a href="{{ url_for_transition }}/{{ stream.itag }}">
			<p>
				{{ stream.title }}
				<br>
				average bitrate={{ stream.abr }}
				type={{ stream.mime_type }}
				audio codec={{ stream.audio_codec }}
			</p>
		</a>
			<br>
	{% endfor %}

</body>
</html>